body {
	font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.right {
	width:auto;
}

.groupItem {
	margin-left: 50px;
}
.groupItem.title {
	text-align: center;
	font-size: large;
	font-weight: bold;
	margin-bottom: 10px;
}
.groupItem.class {
	font-size: medium;
}
